@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoFlex.ttf");
}

body{
    background-color: rgb(176, 176, 176) !important;

}

:root{
    font-size: 16px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.card{
    background-color: rgb(214, 214, 214);
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    
}
html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .content {
    flex: 1;
  }
  p{
    text-align: justify;
  }